<section data-ng-controller="CourseController" data-ng-init="findOne()">

<h2>Edit course</h2>
    <form data-ng-submit="update()" novalidate>
    <br>
        <div class="container container-table">
            <div class="row vertical-center-row">
                <div class="text-center col-md-4 col-md-offset-4">
                    <div class="input-group input-group-lg" style="margin-bottom:10px">
                        <span class="input-group-addon" id="sizing-addon1"></span>
                        <input type="text" id="name" data-ng-model="course.name" class="form-control" placeholder="Course Name" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-lg" style="margin-bottom:10px">
                        <span class="input-group-addon" id="sizing-addon1"></span>
                        <input type="text" id="code" data-ng-model="course.code" class="form-control" placeholder="Course Code" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-lg" style="margin-bottom:10px">
                        <span class="input-group-addon" id="sizing-addon1"></span>
                        <input type="text" id="description" data-ng-model="course.description" class="form-control" placeholder="Course Description" aria-describedby="sizing-addon1">
                    </div>
                    <div class="input-group input-group-lg" style="margin-bottom:10px">
                        <span class="input-group-addon" id="sizing-addon1"></span>
                        <input type="text" id="capacity" data-ng-model="course.capacity" class="form-control" placeholder="Size of class" aria-describedby="sizing-addon1">
                    </div>
                    <div class="row">
                    <a data-ng-href="/#!/courses/{{course._id}}"><button class="btn btn-warning">Back</button></a>
                    <input type="submit" class="btn btn-primary btn-lg" value="Update" />
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div>
    </form>

</section>