<section data-ng-controller="CourseController" data-ng-init="findOne()">
    <div class="container">
        <h1><strong>Course information</strong></h1>
        <div data-ng-show="authentication.user._id == course.creator._id">
        <a data-ng-href="/#!/courses/{{course._id}}/edit"><button class="btn btn-primary">Edit</button></a>
        <a data-ng-click="delete();"><button class="btn btn-danger">Delete</button></a>
        </div>
        <div data-ng-show="authentication.user.type == 'Student'">
            <a data-ng-click="enrollCourse();"><button class="btn btn-success"><strong>Enroll</strong></button></a>
        </div>
        <div style="margin-left:10px">
            <h3>Course Name: <strong data-ng-bind="course.name"></strong></h3>
            <h3>Course Code: <strong data-ng-bind="course.code"></strong></h3>
            <h3>Description: <strong data-ng-bind="course.description"></strong></h3>
            <h3>Teacher: <strong data-ng-bind="course.creator.fullName"></strong></h3>
        </div>
        <div><strong data-ng-bind="test"></strong></div>
    </ul>
    </div>
   <br>
    <small>
        <em>Created on</em>
        <em data-ng-bind="course.created | date:'mediumDate'"></em>
    </small>
</section>