<section data-ng-controller="CourseController" data-ng-init="findOneEnroll();">
    <div class="container">
        <h1><strong>Enroll information</strong></h1>
        <div data-ng-show="authentication.user._id == enroll.creator._id">
            <a data-ng-href="/#!/enroll/{{course._id}}/edit"><button class="btn btn-primary">Edit</button></a>
            <a data-ng-click="delete();"><button class="btn btn-danger">Delete</button></a>
        </div>
        <div data-ng-show="authentication.user.type == 'Student'">
            <a data-ng-click="deleteEnroll();"><button class="btn btn-danger"><strong>Drop</strong></button></a>
        </div>
        <div style="margin-left:10px">
            <h3>Course Name: <strong data-ng-bind="enroll.courseName"></strong></h3>
            <h3>Course Code: <strong data-ng-bind="enroll.courseCode"></strong></h3>
        </div>
    </ul>
    </div>
   <br>
</section>