<section data-ng-controller="ArticlesController">
    <div class="topbar">
        <div class="topbar-title">Create Experience</div>
        <a data-ng-show="!authentication.user" class="topbar-signup" href="/signup">Signup</a>
        <a data-ng-show="!authentication.user"class="topbar-signin" href="/signin">Signin</a>
        <a data-ng-show="authentication.user"class="topbar-signout" href="/signout">Signout</a>
    </div>

    <br>
    <form data-ng-submit="create()" novalidate>
        <table style="width:400px;border-radius:5px;border-width:2px;border-style:solid;margin-left:auto;margin-right:auto">
            <tr>
                <td class="login-text">Company:</td>
                <td><input type="text" data-ng-model="company" id="company" required></td>
            </tr>
            <tr>
                <td class="login-text">City:</td>
                <td><input type="text" data-ng-model="city" id="city"></td>
            </tr>
            <tr>
                <td class="login-text">Country:</td>
                <td><input type="text" data-ng-model="country" id="country"></td>
            </tr>
            <tr>
                <td class="login-text">Start Date:</td>
                <td><input type="date" data-ng-model="startDate" id="startDate"></td>
            </tr>
            <tr>
                <td class="login-text">End Date:</td>
                <td><input type="date" data-ng-model="endDate" id="endDate"></td>
            </tr>
            <tr>
                <td class="login-text">Position:</td>
                <td><input type="text" data-ng-model="position" id="position"></td>
            </tr>
            <tr>
                <td class="login-text" style="vertical-align:top">Details:</td>
                <td><textarea style="width:200px;height:100px" data-ng-model="details" id="details"></textarea></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
            <tr>
                <td></td>
                <td><div>
                <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
            </div></td>
            </tr>
        </table>
        <div>
        
    </form>
     <hr>
        <p class="footerbar"><a href="/">Home</a>   |||   <a href="/#!/articles">List Articles</a>   |||   <a href="/#!/articles/create">Create Articles</a></p>
</section>