<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
    <div class="topbar">
        <div class="topbar-title">Edit Experience</div>
        <a href="/" class="topbar-signin">Home</a>
    </div>
    <br>
    <form data-ng-submit="update()" novalidate>
        <table style="width:400px;">
            <tr>
                <td class="login-text">Company:</td>
                <td><input type="text" data-ng-model="article.company" id="company" required></td>
            </tr>
            <tr>
                <td class="login-text">City:</td>
                <td><input type="text" data-ng-model="article.city" id="city"></td>
            </tr>
            <tr>
                <td class="login-text">Country:</td>
                <td><input type="text" data-ng-model="article.country" id="country"></td>
            </tr>
            <tr>
                <td class="login-text">Start Date:</td>
                <td><input type="date" data-ng-model="article.startDate" id="startDate"></td>
            </tr>
            <tr>
                <td class="login-text">End Date:</td>
                <td><input type="date" data-ng-model="article.endDate" id="endDate"></td>
            </tr>
            <tr>
                <td class="login-text">Position:</td>
                <td><input type="text" data-ng-model="article.position" id="position"></td>
            </tr>
            <tr>
                <td class="login-text" style="vertical-align:top">End Date:</td>
                <td><textarea style="width:200px;height:100px" data-ng-model="article.details" id="details"></textarea></td>
            </tr>
            <tr>
                <td style="text-align:right"><button href="#" data-ng-click="delete();">Delete</button></td>
                <td><input type="submit" value="Submit"></td>
            </tr>
            <tr>
                <td></td>
                <td><div>
                <div data-ng-show="error">
                <strong data-ng-bind="error"></strong>
                </div>
                </td>
            </tr>
        </table>
    </form>
    <br>
    <hr>
        <p class="footerbar"><a href="/">Home</a>   |||   <a href="/#!/articles">List experiences</a>   |||   <a href="/#!/articles/create">Create experience</a></p>
</section>