<section data-ng-controller="ArticlesController" data-ng-init="find()">
    <div class="topbar">
        <div class="topbar-title">Your Experience</div>
        <a href="/" class="topbar-signin">Home</a>
    </div>
    <br>
        
    <div data-ng-repeat="article in articles" style="position:relative;left:20px">
            
            <table style="border-radius:3px;border-width:1px;">
                <tr>
                    <td>Company:</td>
                    <td data-ng-bind="article.company"></td>
                </tr>
                <tr>
                    <td>Location:</td>
                    <td><span data-ng-bind="article.city"></span>, <span data-ng-bind="article.country"></span></td>
                </tr>
                <tr>
                    <td>Start Date:</td>
                    <td data-ng-bind="article.startDate|date"></td>
                </tr>
                <tr>
                    <td>End Date:</td>
                    <td data-ng-bind="article.endDate|date"></td>
                </tr>
                <tr>
                    <td>Position:</td>
                    <td data-ng-bind="article.position"></td>
                </tr>
                <tr>
                    <td>Details:</td>
                    <td data-ng-bind="article.details"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><a data-ng-href="#!/articles/{{article._id}}/edit"><button>Edit</button></a></td>
                </tr>
            </table>
            <br>
            <hr>
            </div>
    </div>
            
    <div data-ng-hide="!articles || articles.length">
        No experiences yet, why don't you <a href="/#!/articles/create">create one?</a>
    </div>
    
        <p class="footerbar"><a href="/">Home</a>   |||   <a href="/#!/articles">List experiences</a>   |||   <a href="/#!/articles/create">Create experience</a></p>
    
</section>